{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}